<%= form_for(@bike_parking_spot) do |f| %>
  <% if @bike_parking_spot.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bike_parking_spot.errors.count, "error") %> prohibited this bike_parking_spot from being saved:</h2>

      <ul>
      <% @bike_parking_spot.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :location %><br>
    <%= f.text_field :location %>
  </div>
  <div class="field">
    <%= f.label :address %><br>
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :placement %><br>
    <%= f.text_field :placement %>
  </div>
  <div class="field">
    <%= f.label :racks %><br>
    <%= f.number_field :racks %>
  </div>
  <div class="field">
    <%= f.label :spaces %><br>
    <%= f.number_field :spaces %>
  </div>
  <div class="field">
    <%= f.label :coordinates %><br>
    <%= f.text_field :coordinates %>
  </div>
  <div class="field">
    <%= f.label :latitude %><br>
    <%= f.text_field :latitude %>
  </div>
  <div class="field">
    <%= f.label :longitude %><br>
    <%= f.text_field :longitude %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
