%h2.infowindow_title
  - unless object.no_address?
    = object.address
  - else
    = object.location
.infowindow_details
  .info
    racks: #{object.racks} / spaces: #{object.spaces}
  %div
    = link_to 'More Information', controller: "bike_parking_spots", action: "show", id: object
    | #{link_to "Map It", "https://maps.google.com/maps?z=200&q=loc:#{object.latitude}+#{object.longitude}"}
