<div role="main">

  <div id="header">
    <div class="container_home">
      <% unless notice.present? %>
        <h1> These Bike Racks </br> Are Near You </h1>
      <% else %>
        <h1><%= notice %></h1>
      <% end %>
    </div>
  </div>

  <% unless @bike_parking_spots_nearby.empty? %>
    <div class="line"></div>
    <table class="all_bike_parking_spots">
      <thead>
        <tr>
          <th>Location</th>
          <th>Address</th>
          <th>Placement</th>
          <th>Racks</th>
          <th>Spaces</th>
          <th></th>
        </tr>
      </thead>
    
      <tbody>
        <% @bike_parking_spots.each do |bike_parking_spot| %>
          <tr>
            <td><%= bike_parking_spot.location %></td>
            <td><%= bike_parking_spot.address %></td>
            <td><%= bike_parking_spot.placement %></td>
            <td><%= bike_parking_spot.racks %></td>
            <td><%= bike_parking_spot.spaces %></td>
            <td><%= link_to "Map", "https://maps.google.com/maps?z=200&q=loc:#{bike_parking_spot.latitude}+#{bike_parking_spot.longitude}"%></td>
          </tr>
        <% end %>
      </tbody>
    </table>


    <div class="line"></div>

    <div class="page_links">
      <%= will_paginate @bike_parking_spots %>
    </div>
  <% end %> 

  <div class="line"></div>

</div>


