<h1>New bike_parking_spot</h1>

<h2>Import Parking Spots</h2>

<%= link_to 'New Bike parking spot', new_bike_parking_spot_path %>

<%= form_tag import_bike_parking_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Import" %>
<% end %>

<%= link_to 'Back', bike_parking_spots_path %>
