<div role="main">

  <div id="header">
    <div class="container_show">
      <h1> This Bike Rack is Less </br> Than One Mile Away </h1>
    </div>
  </div>
  <div class="line"></div>

  <p id="notice"><%= notice %></p>

  <div class="map">
  <%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{@bike_parking_spot.latitude}%2C#{@bike_parking_spot.longitude}" %>
  </div>

  <div class="address_details">
    <p>
      <h2>Location/Building:</h2>
      <span><%= @bike_parking_spot.location %><span>
      <h2>Address:</h2>
      <span><%= @bike_parking_spot.address %><span>
    </p>
  </div>

  <%= link_to 'Back', bike_parking_spots_path %>

</div>
