!!!
%html
  %head
    %title BikeParkingSanfran
    = stylesheet_link_tag  "application", media: "all", "data-turbolinks-track" => true
    %link{href: "http://fonts.googleapis.com/css?family=Ultra", rel: "stylesheet", type: "text/css"}/
    %link{href: "http://fonts.googleapis.com/css?family=Raleway:500", rel: "stylesheet", type: "text/css"}/
    %script{src: "http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"}
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    = yield
  %footer
    %ul#nav
      %li
        = link_to "Map", root_url
      %li
        = link_to "List", bike_parking_spots_path
      %li
        = link_to "About Me", "http://www.bobbileehartman.com", target: "_blank"

